@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
  font-family:"Noor-e-hidayat";

  src:url(./assets/fonts/noorehidayat.b93e204.woff2) format("woff2"),url(./assets/fonts/noorehidayat.6bc39e3.woff) format("woff");

  font-weight:400;

  font-style:normal;

  font-display:swap
}



@font-face{
  font-family:"PDMS Saleem QuranFont";
  
  src:url(./assets/fonts/Saleem.woff)format("woff");

  font-weight:400;

  font-style:normal;

  font-display:swap
}
